@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

main {
    padding: 20px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1e1e1e;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
}

#sidebar_content{
    padding: 12px;
}

#logo{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#logo_branca {
    width: 50px;
    height: 70px;
    object-fit: cover;
    border-radius: 20px;
}

#logo_infos {
    display: flex;
    flex-direction: column;
    color: #ffff;
    font-weight: 500;
}

#logo_infos span:last-child{
    font-size: 12px;
    font-weight: 400;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.side-item.active {
    background-color: #ffffff !important;
}

.side-item.active a {
    color: #1e1e1e !important;
}

.side-item:hover:not(.active), #logout_btn:hover {
    background-color: #000000;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
    transition: color 0.3s ease;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #707070;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #707070;
    gap: 20px;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #94050B;
    color:#fcfcfc;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform 0.3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

